@{
    ViewBag.Title = "Access Denied";
}

<div class="row" style="margin-top: 50px;">
    <div class="col s12 l6 offset-l3">
        <div class="card horizontal">
            <div class="card-stacked">
                <div class="card-content">
                    <p>Access was denied.  Please make sure are logged in and you have changed the default account.</p>
                </div>
                <div class="card-action">
                    <a href="/Account/Logout">Log out</a>
                </div>
            </div>
        </div>
    </div>
</div>