@model Caas.Web.Models.LoginViewModel
@{
}
<div class="row">
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="col s12 l6 offset-l3">
        <div class="card-panel hoverable">
            <div class="row">
                <div class="center-align s12">
                    <h3>Login to Caas</h3>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" asp-for="Email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" asp-for="Password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="right">
                        <input type="checkbox" class="filled-in" asp-for="RememberMe" id="filled-in-box" checked="checked" />
                        <label for="filled-in-box">Remember Me</label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light right" type="submit" name="action">
                        Login
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div asp-validation-summary="ModelOnly" class="red-text"></div>
                </div>
            </div>
        </div>
    </form>
</div>