@model Caas.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Setup";
}
<div class="row">
    <form asp-controller="Account" asp-action="Setup" method="post" class="col s12 l6 offset-l3">
        <div class="card-panel hoverable">
            <div class="row">
                <div class="center-align s12">
                    <h3>Change Default Login</h3>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" asp-for="Email" type="email" class="validate">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div asp-validation-for="Email" class="red-text"></div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" asp-for="Password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div asp-validation-for="Password" class="red-text"></div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input asp-for="RetypePassword" id="verifypassword" type="password" class="validate">
                    <label for="verifypassword">Retype Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div asp-validation-for="RetypePassword" class="red-text"></div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light right" type="submit" name="action">
                        Update
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div asp-validation-summary="ModelOnly" class="red-text"></div>
                </div>
            </div>
        </div>
    </form>
</div>